<%- model_class = Announcement -%>
<div class="container">
  <% @author = User.find(@announcement.user_id) %>
  <h2><%= @announcement.title %></h2>
  <i><%= @author.name || @author.email %></i>

  <p><%= simple_format(@announcement.content) %></p>

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                announcements_path, :class => 'btn btn-default' %>
    <% if @author.id == current_user.try(:id) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_announcement_path(@announcement), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    announcement_path(@announcement),
                    :method => 'delete',
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                    :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
