<div class="container" >
  <h2 class="text-center">Edit Profile</h2>
  <hr>
  <div class="container col-md-4">
    <div class="thumbnail">
      <%= image_tag('badge.png') %>
    </div>
  </div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "col-md-8" }) do |f| %>
  <%= devise_error_messages! %>

  <dl class="dl-horizontal">
    <dt><strong>Email</strong></dt>
    <dd><%= f.email_field :email, :autofocus => true, class: "form-control" %></dd>
    <dt><strong>Password</strong></dt>
    <dd><%= f.password_field :password, :autocomplete => "off", class: "form-control" %></dd>
    <dt><strong>Confirm New Password</strong></dt>
    <dd><%= f.password_field :password_confirmation, class: "form-control" %></dd>
    <dt><strong>Current Password</strong><dt>
    <dd><%= f.password_field :current_password, class: "form-control" %></dd>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>

    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
 </dl>
<div class="text-center">
  <%= f.submit "Save Changes", class: "btn btn-default" %>
</div>
<% end %>
<hr>
<div class="row">
<h2 class="text-center">Add a Summoner</h2>
<div class="container col-md-4">
</div>
<div class="container col-md-8">
  <form class="form-inline" role="form">
    <div class="form-group col-md-10">
      <input type="text" class="form-control" id="summoner-name" placeholder="Enter Summoner Name">
    </div>
    <button type="submit" class="btn btn-default">Add Summoner</button>
  </form>  
</div>
</div>
</div>
