<div class="container">
  <h2 class="text-center">Edit Profile</h2>
  <hr>
  <div class="panel panel-default col-md-2 col-md-offset-1">
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#accounts" data-toggle="tab">Accounts</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content panel panel-default col-md-8 col-md-offset-1">
    <div class="tab-pane active" id="profile">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, class: "form-horizontal"}) do |f| %>
          <%= devise_error_messages! %>
          <div class="panel-body">
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>

              <div class="col-sm-10">
                <%= f.email_field :email, :autofocus => true, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword" class="col-sm-2 control-label">New Password</label>

              <div class="col-sm-10">
                <%= f.password_field :password, :autofocus => true, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label for="NewPasswordConfirm" class="col-sm-2 control-label">Confirm New Password</label>

              <div class="col-sm-10">
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label for="currentPassword" class="col-sm-2 control-label">Current Password</label>

              <div class="col-sm-10">
                <%= f.password_field :current_password, class: "form-control" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>

                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save Changes</button>
              </div>
            </div>
      <% end %>
      </div>
    </div>
    <div class="tab-pane panel-body" id="accounts">
      <% current_user.summoners.each do |s| %>
        <p class="form-control-static"><%= s.name %></p>
      <% end %>
      <%= form_tag("/summoners", method: "create", remote: true, class: "form-horizontal") do %> 
        <%= text_field_tag(:name) %>
        <%= submit_tag("Add") %>
      <% end %>
    </div>
  </div>
</div>
