<div class="container">
<h2>Edit Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <dl class="dl-horizontal">
    <dt><strong>Email</strong></dt>
    <dd><%= f.email_field :email, :autofocus => true %></dd>
    <dt><strong>Password</strong></dt>
    <dd><%= f.password_field :password, :autocomplete => "off" %></dd>
    <dt><strong>Confirm New Password</strong></dt>
    <dd><%= f.password_field :password_confirmation %></dd>
    <dt><strong>Current Password</strong><dt>
    <dd><%= f.password_field :current_password %></dd>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>

    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
 </dl>
<div>
  <%= link_to "Cancel", :back, class: "btn" %>
  <%= f.submit "Update", class: "btn" %>
</div>
<% end %>

</div>
