<%= form_for @summoner, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @summoner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summoner.errors.count, "error") %> prohibited this summoner from being saved:</h2>

      <ul>
      <% @summoner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <label for="summoner-name" class="col-sm-2 control-label">Summoner Name</label>

  <div class="form-group col-md-10">
    <%= f.text_field :name, class: "form-control", placeholder: "Enter Summoner Name" %> 
  </div>
  

  <div class="actions">
    <%= f.submit :submit, class: "btn btn-default col-md-offset-2" %>
  </div>
<% end %>
