<%= form_for @event, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
    <div class="form-group">
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'form-control col-md-8' %>
    </div>
    <div class="form-group">
      <%= f.label :location, :class => 'control-label' %>
      <%= f.text_field :location, :class => 'form-control col-md-8' %>
    </div>
    <div class="form-group">
      <%= f.label :date, :class => 'control-label' %>
      <%= f.text_field :date, :class => 'form-control col-md-8', type: "date" %>
    </div>
    <div class="form-group">
      <%= f.label :info, :class => 'control-label' %>
      <%= f.text_area :info, :class => 'form-control col-md-8', rows: 10 %>
    </div>

    <% if current_user.is_admin? %>
        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      events_path, :class => 'btn btn-danger' %>
        </div>
    <% end %>
<% end %>
