<div class="container">
    <%= image_tag("vespa-banner.png", class: 'img-responsive text-center img-rounded') %>
</div>
<hr>
<div class="container">
  <div class="row fill-height">
		<div class="col-md-6">
			<h2>Announcements</h3>
			<hr>
				<% @recent_announcements.each do |announcement| %>
						<p>
							<strong> <%= link_to announcement.title, announcement_path(announcement) %> </strong>
							by <i><%= announcement.user %> </i>
						</p>

						<p> <%= simple_format announcement.preview %> </p> 
					<%= link_to "(read more)", announcement_path(announcement) %>
				<% end %>
				<p class="text-center"><%= link_to "View All", announcements_path %></p>
		</div>
    <div class="col-md-6">
      <h2>Upcoming Events</h2>
      <hr>
      <% if @upcoming_events.empty? %>
          <p>No events this week: Check our our calendar for a full schedule</p>
      <% end %>
      <% @upcoming_events.each do |event| %>
          <p>
            <strong> <%= link_to event.title, event_path(event) %></strong>
            <i><%= event.date.to_formatted_s(:long_ordinal) %></i>
          </p>

          <p><%= truncate(event.info, length: 200) %></p>
          <hr>
      <% end %>
      <p class="text-center"><%= link_to "View All", events_path %></p>
      <hr>
    </div>

  </div>
</div>
