<div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
<div class="container"> 
  <div class="row fill-height">
    <div class="span4">
      <h2>Recent Posts</h2>
      <hr>
      <% @recent_posts.each do |post|%>
        <p>
          <strong> <%= link_to post.title, post_path(post) %> </strong>
          by <i><%= User.find(post.user_id).email %> </i>
        </p>
        <p> <%= simple_format post.preview %> </p>
        <hr>
      <% end %>
      <p class="text-center"><%= link_to "View All",  posts_path %></p> 
      <hr>
    </div>
    <div class="span4">
      <h2>Videos</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="span4">
      <h2>Upcoming Events</h2>
      <hr>
      <% @upcoming_events.each do |event|%>
        <p> 
          <strong> <%= link_to event.title, event_path(event) %></strong>
          <i><%= event.date.to_formatted_s(:long_ordinal)  %></i>
        </p>
        <p><%= truncate(event.info, length: 200) %></p>
        <hr>
      <% end %>
      <p class="text-center"><%= link_to "View All",  events_path %></p> 
      <hr>
    </div>
        
  </div> 
</div>
