<footer class="footer" background-color"#cccccc">
	<div class="container">
		<%= image_tag("gameskinny.png", class: 'col-md-4')%>
		<%= image_tag("guildlaunch.png", class: 'col-md-4')%>
		<%= image_tag("blacksburg-eye.png", class: 'col-md-4')%>
  </div>

	<div class="container">
		<%= link_to image_tag("facebook.png"), "https://www.facebook.com/groups/VirginiaeSportsAssociation/" %>
		<%= link_to image_tag("twitter.png"), "https://twitter.com/VeSPALive" %>
</footer>
