<!DOCTYPE html>
<html>
<head>
  <title>Virginia eSports Association</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "News", announcements_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Stream", streams_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if signed_in? %>
          <li class='dropdown'>
            <a href="#" class="dropdown" data-toggle="dropdown"><%= current_user.email %><span class='caret'></span> </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href=<%= "/profiles/show/#{current_user.id}" %>><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><%= link_to edit_user_registration_path do %>
                <span class="glyphicon glyphicon-cog"></span> Settings
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete  do %>
                  <span class='glyphicon glyphicon-off'></span> Sign out</a>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <%= form_for("user", :url => user_session_path, :html => {class: "navbar-form navbar-right", role: "form"}) do |f| %>
            <div class="form-group"><%= f.text_field :email, class: "form-control", placeholder: "Email" %></div>
            <div class="form-group"><%= f.password_field :password, class: "form-control", placeholder: "Password" %></div>
            <div class="form-group"><%= f.submit 'Sign In', class: "btn btn-success" %></div>
            <div class="form-group"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></div>
          <% end %>
        <% end %>
      </ul>
      <!--/.navbar-collapse -->
    </div>
  </div>
</div>
</div>
<%= bootstrap_flash %>
<div class="container">
  <%= yield %>
</div>
<hr>
<div class="container">
  <%= link_to image_tag("facebook.png"), "https://www.facebook.com/groups/VirginiaeSportsAssociation/" %>
  <%= link_to image_tag("twitter.png"), "https://twitter.com/VeSPALive" %>
</div>
</body>
</html>
