<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Home", root_path, class: "navbar-brand" %>
            <div class="navbar-collapse collapse">
                <ul class="nav">
                    <li><%= link_to "Posts", posts_path %></li>
                    <li><%= link_to "Events", events_path %></li>
                    <li><%= link_to "Stream", streams_path %></li>
                </ul>
                <ul class="nav pull-right">
                <% if signed_in? %>
                      <li><%= link_to  current_user.email, edit_user_registration_path %></li>
                      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn" %>
                <% else %>
                  <%= form_for("user", :url => user_session_path, :html => { class: "navbar-form pull-right" }) do |f| %>
                    <%= f.text_field :email, class: "span2", placeholder: "Email" %>
                    <%= f.password_field:password, class: "span2", placeholder: "Password" %>
                    <%= f.submit 'Sign In', class: "btn"  %>
                    <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
                  <% end %>
              <% end %>
            </ul>
            <!--/.navbar-collapse -->
        </div>
    </div>
</div>
</div>
<%= bootstrap_flash %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
